
## SF Salaries Exercise 


For this exercise, you will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle!. Please download the "Salaries.csv" file from kaggle and complete the below exercises. Please submit the completed jupyter notebook file to D2L. 


| Exercise | Point |
| --- | --- |
| 1 | 3 |
| 2 | 2 |
| 3 | 5 |
| 4 | 5 |
| 5 | 5 |
| 6 | 5 |
| 7 | 5 |
| 8 | 5 |
| 9 | 5 |
| 11 | 5 |
| 12 | 5 |
| **Total** | **50** |

**Exercise 1**

**Import pandas as pd.**

In [2]:
import pandas as pd

**Read Salaries.csv as a dataframe called sal.**

In [3]:
sal = pd.read_csv("salaries.csv")

**Check the head of the DataFrame.**

In [3]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

**Exercise 2 - Use the .info() method to find out how many entries there are.**

In [4]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**Exercise 3 - What is the average BasePay ?**

In [5]:
sal['BasePay'].mean()

66325.44884050643

**Exercise 4 - What is the highest amount of OvertimePay in the dataset ?**

In [6]:
sal['OvertimePay'].max()

245131.88

**Exercise 5 - What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).**

In [21]:
job = sal.loc[sal['EmployeeName'] == 'JOSEPH DRISCOLL']
job['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

**Exercise 6 - How much does JOSEPH DRISCOLL make (including benefits)?**

In [19]:
job['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

**Exercise 7 - What is the name of highest paid person (including benefits)?**

In [26]:
highestPayRow = sal.loc[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]
highestPaidPerson = highestPayRow['EmployeeName']
highestPaidPerson

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

**Exercise 8 - What is the name of lowest paid person (including benefits)?**

In [27]:
LowestPayRow = sal.loc[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()]
LowestPaidPerson = LowestPayRow['EmployeeName']
LowestPaidPerson

148653    Joe Lopez
Name: EmployeeName, dtype: object

**Exercise 9 - What was the average (mean) BasePay of all employees per year? (2011-2014)?**

In [93]:
sal.groupby('Year')['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

**Exercise 10 - How many unique job titles are there?**

In [30]:
noOfUniqueJobTitles = sal['JobTitle'].nunique()
noOfUniqueJobTitles

2159

**Exercise 11 - What are the top 5 most common jobs?**

In [39]:
jobcounts = sal['JobTitle'].value_counts()
jobcounts.head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

**Exercise 12 - How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)**

In [91]:

d = sal.loc[sal['Year'] == 2013]
d[d.groupby('JobTitle').JobTitle.transform('count') ==  1]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
72925,72926,Gregory P Suhr,Chief of Police,319275.01,0.0,20007.06,86533.21,339282.07,425815.28,2013,NaN,San Francisco,NaN
72926,72927,Joanne M Hayes-White,"Chief, Fire Department",313686.01,0.0,23236.00,85431.39,336922.01,422353.40,2013,NaN,San Francisco,NaN
72929,72930,Robert L Shaw,"Dep Dir for Investments, Ret",315572.01,0.0,0.00,82849.66,315572.01,398421.67,2013,NaN,San Francisco,NaN
72933,72934,Edward D Reiskin,"Gen Mgr, Public Trnsp Dept",305307.89,0.0,0.00,80860.60,305307.89,386168.49,2013,NaN,San Francisco,NaN
72945,72946,Edwin M Lee,Mayor,285446.37,0.0,0.00,77105.29,285446.37,362551.66,2013,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
106963,106964,Hiedi L Antoine,IS Technician Assistant,NaN,0.0,0.00,7959.18,0.00,7959.18,2013,NaN,San Francisco,NaN
108503,108504,Saundra S Magana,Head Photographer,NaN,0.0,2987.97,540.52,2987.97,3528.49,2013,NaN,San Francisco,NaN
109811,109812,Kent A Cunningham,Animal Control Supervisor,662.70,0.0,25.40,294.41,688.10,982.51,2013,NaN,San Francisco,NaN
110512,110513,William John Erkelens Jr,Special Assistant 14,26.34,0.0,0.00,0.26,26.34,26.60,2013,NaN,San Francisco,NaN
110516,110517,Maria D Quinones,Senior Assessment Clerk,NaN,0.0,20.73,0.00,20.73,20.73,2013,NaN,San Francisco,NaN

**Optional: Is there a correlation between length of the Job Title string and Salary?**

In [102]:
sal['JobTitleLength'] = sal['JobTitle'].str.len()
sal['JobTitleLength'].corr(sal['TotalPayBenefits'])

-0.03687844593260676

<span style="color:blue">**the correlation coefficient is very close to 0. Therefore, there is no correlation between length of the job title and salary.**</span>